{% extends "shared.html" %}
{% block content %}
<div class="container mx-auto mt-8">
    <form method="get" class="mb-4">
        <input type="text" name="q" placeholder="Search" class="border border-gray-300 rounded-md py-2 px-4">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2">Search</button>
    </form>
    <form method="post" action="{% url 'accounts:logout'%}" class="inline">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="hover:text-blue-500 text-lg font-semibold">logout</button>
        <br>
        <br>
    </form>
    <h1 class="text-3xl font-bold mb-4">TODO LIST</h1>
    <a href="{% url 'todos:create' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 inline-block">CREATE</a>
    <ul>
        {% for todo in todos %}
        <li class="mb-2 border-b border-gray-300 pb-2">
            <a href="{% url 'todos:update' todo.pk %}" class="text-blue-500 hover:text-blue-700">title : {{ todo.title }}</a>
            <p>content : {{ todo.description }}</p>
            <span class="ml-2 text-gray-500 text-sm">Created on {{ todo.created_at|date:"Y/m/d H:i" }}</span>
            <a href="{% url 'todos:delete' todo.pk %}" class="text-red-500 hover:text-red-700 ml-2">Delete</a>
        </li>
        {% empty %}
        <li>No todo items yet.</li>
        {% endfor %}
    </ul>
    {% if is_paginated %}
    <div class="pagination mt-4">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">Previous</a>
            {% endif %}

            <span class="current px-4 py-2 bg-gray-400 text-white font-bold rounded">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</div>
{% endblock %}
